@model MvcMovie.Models.MovieViewModel 

@{
    ViewData["Title"] = "Details";
}

<h2>Movie Details</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Movie.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Movie.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Movie.ReleaseDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Movie.ReleaseDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Movie.Genre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Movie.Genre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Movie.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Movie.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Movie.Rating)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Movie.Rating)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Movie.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

<h2>Reviews</h2>
@foreach (var review in Model.Reviews)
{<div>
     <p>
         <table>
             <tr>
                 <td>@review.Comment</td>
                 <td><a asp-action="Edit" asp-controller="Review">Edit</a></td>
                 <td><a asp-action="Delete" asp-controller="Review">Delete</a></td>
             </tr>
         </table>
     </p>
    </div>
   
}


<a asp-action="Create" asp-controller="Review" asp-route-id="@Model.Movie.ID">Add a Review</a>


